.navbar {
    background-color: black;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.outer {
    height: 500px;
    width: 500px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: white;
}
